# Server Configuration
PORT=3000

# MongoDB Database Connection URL
MONGODB_URI=mongodb://127.0.0.1:27017/todolist

# JWT Authentication Secret and Expiration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
